<a href="https://colab.research.google.com/github/SuchitaTripathi03/SQL-BASICS/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## QUES 1) 1. Create a table called employees with the following structure?
##: emp_id (integer, should not be NULL and should be a primary key)Q
##: emp_name (text, should not be NULL)Q
##: age (integer, should have a check constraint to ensure the age is at least 18)Q
##: email (text, should be unique for each employee)Q
##: salary (decimal, with a default value of 30,000).

## Write the SQL query to create the above table with all constraints.

CREATE TABLE employees (
    emp_id INTEGER NOT NULL PRIMARY KEY,
    emp_name TEXT NOT NULL,
    age INTEGER CHECK (age >= 18),
    email TEXT UNIQUE,
    salary DECIMAL DEFAULT 30000
);

In [ ]:
##QUES 2) Explain the purpose of constraints and how they help maintain data integrity in a database. Provide
##examples of common types of constraints.

Constraints in a database serve as essential rules that enforce the accuracy, consistency, and reliability of the data stored within tables. They act as safeguards, ensuring that only valid and meaningful information enters the system. For instance, a **NOT NULL** constraint prevents critical fields like employee names from being left blank, while a **CHECK** constraint can enforce logical conditions—such as ensuring an employee’s age is at least 18. A **UNIQUE** constraint guarantees that no two employees share the same email address, preserving identity and avoiding duplication. The **PRIMARY KEY** constraint uniquely identifies each record, making retrieval and referencing efficient and error-free. Additionally, **DEFAULT** values can automatically populate fields like salary when no input is provided, maintaining consistency across entries. Together, these constraints uphold data integrity by reducing human error, supporting relational logic between tables, and streamlining the validation process at the database level—making the system more robust and trustworthy.

In [ ]:
##QUES 3) Why would you apply the NOT NULL constraint to a column? Can a primary key contain NULL values? Justify
##your answer.

The **NOT NULL** constraint is applied to a column to ensure that every record in the table contains a valid, non-missing value for that field. This is crucial when the column holds essential information—like a person's name, ID, or date of birth—where the absence of data would compromise the integrity or usefulness of the record. For example, if an employee’s name were allowed to be NULL, it would be difficult to identify or reference that individual meaningfully.

A **primary key**, by definition, cannot contain NULL values. This is because a primary key must uniquely identify each row in a table, and NULL represents an unknown or undefined value. If NULLs were allowed in a primary key, it would violate the uniqueness requirement—since multiple rows could have NULL in the key column, and the database wouldn’t be able to distinguish between them. Therefore, every column that is part of a primary key must be both **NOT NULL** and **unique**, ensuring that each row is reliably and distinctly identifiable.

In [ ]:
##QUES 4)Explain the steps and SQL commands used to add or remove constraints on an existing table. Provide an
## example for both adding and removing a constraint.

Constraints in SQL are rules enforced on data columns to maintain data integrity. You can add or remove constraints on an existing table using the ALTER TABLE command.
Steps to Add a Constraint
- Identify the table and column where the constraint is needed.
- Use the ALTER TABLE command followed by ADD CONSTRAINT.
- Specify the constraint type (PRIMARY KEY, FOREIGN KEY, UNIQUE, CHECK, NOT NULL, etc.).
- Name the constraint (optional but recommended for easier removal later).
 Example: Add a CHECK Constraint
ALTER TABLE Employees
ADD CONSTRAINT chk_salary
CHECK (Salary >= 30000);
Steps to Remove a Constraint
- Know the name of the constraint you want to remove.
- Use the ALTER TABLE command followed by DROP CONSTRAINT.
- Some databases (like MySQL) may use DROP PRIMARY KEY or DROP FOREIGN KEY instead.
 Example: Remove the CHECK Constraint
ALTER TABLE Employees
DROP CONSTRAINT chk_salary;

In [ ]:
##QUES 5) Explain the consequences of attempting to insert, update, or delete data in a way that violates constraints.
## Provide an example of an error message that might occur when violating a constraint.

Violating constraints during INSERT, UPDATE, or DELETE operations in SQL can lead to errors, rejected transactions, and data integrity issues.
Example: Violating a FOREIGN KEY Constraint
Suppose you have two tables:
CREATE TABLE Departments (
    DeptID INT PRIMARY KEY,
    DeptName VARCHAR(50)
);

CREATE TABLE Employees (
    EmpID INT PRIMARY KEY,
    EmpName VARCHAR(50),
    DeptID INT,
    FOREIGN KEY (DeptID) REFERENCES Departments(DeptID)
);


Now, if you try to insert an employee with a DeptID that doesn't exist in Departments:
INSERT INTO Employees (EmpID, EmpName, DeptID)
VALUES (101, 'Alice', 999);  -- DeptID 999 doesn't exist

We will get an error like:
Msg 547, Level 16, State 0, Line 1
The INSERT statement conflicted with the FOREIGN KEY constraint "FK_Employees_Departments".
The conflict occurred in database "CompanyDB", table "Departments", column 'DeptID'.

In [ ]:
##QUES 6)  You created a products table without constraints as follows:

##CREATE TABLE products (

## product_id INT,

##product_name VARCHAR(50),

##price DECIMAL(10, 2));
##Now, you realise that?
##: The product_id should be a primary keyQ
##: The price should have a default value of 50.00

1. Add a PRIMARY KEY Constraint to product_id
This ensures each product has a unique identifier:
ALTER TABLE products
ADD CONSTRAINT pk_product_id PRIMARY KEY (product_id);
2.Set a Default Value for price
This ensures that if no price is provided during insertion, it defaults to 50.00:
ALTER TABLE products
ALTER COLUMN price SET DEFAULT 50.00;

ALTER TABLE products
ADD CONSTRAINT df_price_default DEFAULT 50.00 FOR price;

ALTER TABLE products
ADD CONSTRAINT df_price_default DEFAULT 50.00 FOR price;

In [ ]:
##QUES 7) You have two tables:
##Write a query to fetch the student_name and class_name for each student using an INNER JOIN.

SELECT Students.student_name, Classes.class_name
FROM Students
INNER JOIN Classes ON Students.class_id = Classes.class_id;

In [ ]:
##QUES 8)Consider the following three tables:
##Write a query that shows all order_id, customer_name, and product_name, ensuring that all products are
##listed even if they are not associated with an order

##Hint: (use INNER JOIN and LEFT JOIN)

SELECT

    o.order_id,

    c.customer_name,

    p.product_name
FROM

    Products p

LEFT JOIN

    Orders o ON p.order_id = o.order_id

LEFT JOIN

    Customers c ON o.customer_id = c.customer_id;

In [ ]:
##QUES 9) 5 Given the following tables:
##Write a query to find the total sales amount for each product using an INNER JOIN and the SUM() function.

SELECT p.product_name, SUM(s.amount) AS total_sales
FROM Sales s
INNER JOIN Products p
ON s.product_id = p.product_id
GROUP BY p.product_name;

In [ ]:
##QUES 10)You are given three tables:
##Write a query to display the order_id, customer_name, and the quantity of products ordered by each
##customer using an INNER JOIN between all three tables.

SELECT o.order_id, c.customer_name, od.quantity
FROM Orders o
INNER JOIN Customers c ON o.customer_id = c.customer_id
INNER JOIN Order_Details od ON o.order_id = od.order_id;